@model List<AgendaDeContatosMVC.Models.Usuarios>;


@{

    ViewData["Title"] = "Lista de Usuarios";
}

<h1>@ViewData["Title"]</h1>

<h2>Desativar Usuarios</h2>

<form action="http://localhost:5188/Usuarios/ParcialUpdate" method="update">
  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">CellNumber</th>
       <th scope="col">Ativo</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var usuarios in Model) {
        <tr>
            <th scope="row"><input type="number" name="IdUsuario" value=@usuarios.IdUsuario disabled></th>
            <th scope="row">@usuarios.Email</th>
            <th scope="row">@usuarios.Nome</th>
            <th scope="row">@usuarios.CellNumber</th>
            <th scope="row">
             @if (@usuarios.Ativo == "on") {

                <input type="checkbox" checked name="Ativo">
             } else {

                <input type="checkbox" name = "Ativo">
             }
            </th>
        </tr>
    }
  </tbody>
</table>
<button type="submit" class="btn btn-success">Atualizar</button>
</form>
